@import "tailwindcss";

@theme {
  --font-funnel-display: "Funnel Display", sans-serif;
  --font-funnel-sans: "Funnel Sans", sans-serif;

  --color-primary: #213448;
  --color-secondary: #547792;
  --color-tertiary: #94b4c1;
  --color-light: #ecefca;
}
